<!doctype html>

{% include 'eHealth/css.html' %}

<html lang="en">

<div class="footerdiv">
    <div class="container">
        <div class="row">
            <div class="col col2">
                <h3>Over ons</h3>
                <h5>Text over vitale delta</h5>
            </div>
            <div class="col col2">
                <h3>Socials</h3>
                <h5>Facebook</h5>
                <h5>Twitter</h5>
                <h5>Instagram</h5>
                <h5>Google+</h5>
                <h5>Pinterest</h5>
                <h5>Linkedin</h5>
            </div>
        </div>
    </div>
</div>

</html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>