<!doctype html>
<!-- {% load static %} -->
{% include 'eHealth/css.html' %}
<html lang="en">

<div class="mainpagePicture">
  <img class="leftVitaleDelta" src="{% static 'images\eHealth\Vitale_Delta.png' %}">
  <a style="float: left" href="/mainpage">Regio Zuid-Holland</a>
  <div>
    <label class="maintext">Vitaliteit en gezondheid van jong tot oud</label>
    <label class="maintext2">VITALE DELTA</label>
  </div>
  <a id="contact" href="/contact">Contact</a>
  <a id="login" href="/login">Login</a>
  <a id="home" href="/mainpage">Home</a>
</div>

<div id="bar" class='topnav'>
  <a id="vitaliteit" href="/vitaliteit">Alle posts</a>
  <a id="vitaliteit_eten" href="/vitaliteit/eten">Eten</a>
  <a id="vitaliteit_bewegen" href="/vitaliteit/bewegen">Bewegen</a>
  <a id="vitaliteit_mentaal" href="/vitaliteit/mentaal">Mentaal</a>
  <a style="float: right" href="/vitaliteit/mentaal">Login/sign up</a>
</div>

</html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>