<!doctype html>
{% load static %}
{% include 'eHealth/css.html' %}
<html lang="en">

<!-- <div class="backgroundimage"  ;> -->
  <div id="bar" class='topnav' style="background-image: url('{% static "images\eHealth\jump_background.webp" %}')"></div>
    <a id="mainpage" href="http://127.0.0.1:8000/mainpage">Startpagina</a>
    <!-- <a href="/agenda">Agenda</a> -->
    <!-- <a href="/nieuws">Nieuws</a> -->
    <!-- <a href="/samenwerking">Samenwerking</a> -->
    <!-- <a href="/contact_delta">Contact</a> -->
    <a id="vitaliteit" href="/vitaliteit">Alle posts</a>
    <a id="vitaliteit_eten" href="/vitaliteit/eten">Eten</a>
    <a id="vitaliteit_bewegen" href="/vitaliteit/bewegen">Bewegen</a>
    <a id="vitaliteit_mentaal" href="/vitaliteit/mentaal">Mentaal</a>
    <!-- <a href="/login">Login</a> -->
  </div>
<!-- </div> -->
<!-- </div> -->

</html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>