<!doctype html>

{% load static %}

{% include '../eHealth/Header.html' %}

<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Vitaliteit</title>
  </head>
  <body>
    <div class="container">
      <div>
        <br>
        <h1 class="title">Grip op coronastress</h1>
        <br>
        <br>
        <h4>Dit is een een online workshop gemaakt door VGZ en Mirro. Het zijn onzekere tijden. De coronacrisis raakt ons allemaal. 
          U maakt zich misschien zorgen over de toekomst en voelt mogelijk stress, angst en onveiligheid. Deze gevoelens zijn heel normaal. 
          De huidige situatie is nieuw voor iedereen. Dat betekent dat veel mensen nog aan het zoeken zijn hoe ze het beste met deze situatie om kunnen gaan. 
          In deze online workshop krijgt u praktische handvatten hiervoor.
          Het doel van de online workshop is om u op verschillende gebieden te ondersteunen tijdens de coronacrisis. 
          U moet misschien thuis werken of studeren. Dit kan invloed hebben op uw stemming. 
          Ook kan het zijn dat u zich somber of angstig voelt. Met deze workshop krijgt u informatie, oefeningen en tips hoe u op een nuttige manier thuis uw werk of studie kunt doen. 
          Ook gaat u aan de slag met positieve gedachten.  
          Daarnaast leert u goed tot rust te komen en meer aandacht te geven aan de dingen die belangrijk voor u zijn.
          Meerdere onderwerpen komen aan bod, zoals "Hoe gaat het met u?," "Positiviteit," "Thuis werken en studeren" en "Samen doen." 
          Deze workshop kan bereikt worden via de volgende link:
        </h4>
        <a class="linktext" href="https://www.vgz.nl/gezond-leven/services/grip-op-coronastress">Grip op coronastress</a>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <br>
  </body>
  {% include '../eHealth/footer.html' %}
</html>
