<!doctype html>

{% load static %}

{% include '../eHealth/Header.html' %}

<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Vitaliteit</title>
  </head>
  <body>
    <div class="container">
      <div>
          <br>
          <h1 class="title">Vitaliteits applicaties</h1>
          <br>
          <br>
          <h4>Op deze pagina staan enkele applicaties en cursussen, welke mogelijk kunnen helpen bij het verbeteren van uw vitaliteit. 
            De meeste focussen zich enkel op de gezonde leefstijl, bijvoorbeeld fysiek of mentaal. Een voorbeeld hiervan zijn de erkende interventies van Loket Gezond Leven. 
            Hierbij staan programma’s klaar van interventies die beoordeeld zijn volgens de criteria van het Erkenningstraject. 
            De interventies zijn gericht op het werken aan een gezonde leefstijl. 
            Dit hoofdstuk bevat onder andere een overzicht van een aantal erkende interventies van Loket Gezond Leven. 
            Daarnaast bevat het ook een overzicht van andere (eHealth) interventies, die gevonden zijn m.b.v. andere databanken. </h4>
            <br>
            
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

<script>

$(function() {
  $('#topnav li a').click(function() {
     $('#topnav li').removeClass();
     $($(this).attr('href')).addClass('active');
  });
});

</script>