<!doctype html>

{% load static %}

{% include '../eHealth/Header.html' %}

<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Vitaliteit</title>
  </head>
  <body>
    <div class="container">
      <div>
          <br>
          <h1 class="title">Informatie over vitaliteit</h1>
          <br>
          <br>
          <h4>Vitaliteit is belangrijk voor uw functioneren. Deze vitaliteit wordt onder andere bepaald door arbeidsomstandigheden, goed werkgever- en werknemerschap, arbeidsrelaties 
            en motivatie van medewerkers. Een vaak gebruikte definitie van vitaliteit is: “Vitaliteit omvat de dimensies energie, motivatie en 
            veerkracht, waarbij energie wordt gekenmerkt door zich energiek voelen, motivatie door doelen te stellen in het leven en moeite te doen om deze te behalen, en veerkracht 
            door het vermogen om met de dagelijkse problemen en uitdagingen van het leven om te gaan.” Een hogere vitaliteit betekent dus dat u meer energie en plezier heeft. 
            Uw werkgever heeft hier invloed op door te zorgen voor een gezonde werkomgeving en door aandacht te besteden aan de gezondheidsrisico’s binnen uw organisatie. 
            Uw werkgever is verantwoordelijk voor een bijdrage om hun medewerkers gezond te houden en dat zij zich kunnen ontwikkelen. 
            De werkgever kan hiervoor verschillende interventies inzetten.</h4>
            <br>
          <h4>Wanneer u wilt gaan naar een pagina met tips om uw vitaliteit te verbeteren, kunt u onder het kopje vitaliteit of met de hierop volgende link naar deze pagina gaan:</h4>
          <a class="linktext" href="/vitaliteit/verbetering">Vitaliteit verbeteren</a>
          <br><br>
          <h3 class="subtitle">Bronnen</h3>
          <br>
          <h5>Diehl, P.J. & Stoffelsen, J.M. (2007). Vitaliteit en arbeid in 100 vragen. Alphen a/d Rijn: Kluwer</h5> 
            <br>
          <h5>Strijk, J. E., Wendel-Vos, G. C. W., Picavet, H. S. J., Hofstetter, H., & Hildebrandt, V. H (2015). Wat is vitaliteit en hoe is het te meten? Tijdschrift voor gezondheidswetenschappen. Geraadpleegd op 7 oktober 2020, van  https://doi.org/10.1007/s12508-015-0013-y</h5> 
            <br>
          <h5>Van Vliet, J. (2017). Gezond in het werk. Good practices: als bedrijfsarts in Europa. Geraadpleegd op 7 oktober 2020, van https://link-springer-com.ezproxy.hro.nl/article/10.1007%2Fs12498-017-0508-3</h5>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
