<!doctype html>

{% load static %}

{% include '../eHealth/Header.html' %}

<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Vitaliteit</title>
  </head>
  <body>
    <div class="container">
      <div>
        <br>
        <h1 class="title">Psyfitter</h1>
        <br>
        <br>
        <h4>Psyfitter is een cursus in de vorm van een app, waarmee u uw mentale conditie traint. Dit doet u door middel van oefeningen, filmpjes, tests en tips.
          Na het volgen van de cursus heb je meer grip op je leven, leef je meer in het hier en nu en kun je beter omgaan met de druk die de omgeving op je legt. 
          In de cursus leer je wat mentale fitheid is en hoe je gelukkiger en meer ontspannen kunt leven. Je hoeft geen klachten te hebben om Psyfitter te gaan doen. 
          Maar ook als je last hebt van milde klachten, kan Psyfitter iets voor je betekenen. 
          Wetenschappelijk onderzoek heeft aangetoond dat Psyfitter helpt tegen somberheid en angstige gevoelens. 
          Deze cursus kost €29,95 per jaar.
          Voor meer info over deze app kunt u klikken op de volgende link:
        </h4>
        <a class="linktext" href="https://www.psyfitter.nl/">Psyfitter</a>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <br>
  </body>
  {% include '../eHealth/footer.html' %}
</html>
