<!doctype html>

{% load static %}

{% include '../eHealth/Header.html' %}

<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Vitaliteit</title>
  </head>
  <body>
    <div class="container">
      <div>
        <br>
        <h1 class="title">Vitaliteits applicaties</h1>
        <br>
        <br>
        <h4>Op deze pagina staan enkele applicaties en cursussen, welke mogelijk kunnen helpen bij het verbeteren van uw vitaliteit. 
          De meeste focussen zich enkel op de gezonde leefstijl, bijvoorbeeld fysiek of mentaal. Een voorbeeld hiervan zijn de erkende interventies van Loket Gezond Leven. 
          Hierbij staan programma’s klaar van interventies die beoordeeld zijn volgens de criteria van het Erkenningstraject. 
          De interventies zijn gericht op het werken aan een gezonde leefstijl. 
          Dit hoofdstuk bevat onder andere een overzicht van een aantal erkende interventies van Loket Gezond Leven. 
          Daarnaast bevat het ook een overzicht van andere (eHealth) interventies, die gevonden zijn met behulp van andere databanken. </h4>
        <br>
        <h3 class="subtitle"> Grip op coronastress</h3>
        <br>
        <h4>Dit is een een online workshop gemaakt door VGZ en Mirro. Het zijn onzekere tijden. De coronacrisis raakt ons allemaal. 
          U maakt zich misschien zorgen over de toekomst en voelt mogelijk stress, angst en onveiligheid. Deze gevoelens zijn heel normaal. 
          De huidige situatie is nieuw voor iedereen. Dat betekent dat veel mensen nog aan het zoeken zijn hoe ze het beste met deze situatie om kunnen gaan. 
          In deze online workshop krijgt u praktische handvatten hiervoor. Daarnaast leert u goed tot rust te komen en meer aandacht te geven aan de dingen die belangrijk voor u zijn.
          Meerdere onderwerpen komen aan bod, zoals "Hoe gaat het met u?," "Positiviteit," "Thuis werken en studeren" en "Samen doen." 
          Deze work shop kan bereikt worden via de volgende link:
        </h4>
        <a class="linktext" href="https://www.vgz.nl/gezond-leven/services/grip-op-coronastress">Grip op coronastress</a>
        <br>
        <h3 class="subtitle">Psyfitter</h3>
        <br>
        <h4>Psyfitter is een cursus in de vorm van een app, waarmee u uw mentale conditie traint. Dit doet u door middel van oefeningen, filmpjes, tests en tips.
          Na het volgen van de cursus heb je meer grip op je leven, leef je meer in het hier en nu en kun je beter omgaan met de druk die de omgeving op je legt. 
          In de cursus leer je wat mentale fitheid is en hoe je gelukkiger en meer ontspannen kunt leven. Je hoeft geen klachten te hebben om Psyfitter te gaan doen. 
          Maar ook als je last hebt van milde klachten, kan Psyfitter iets voor je betekenen. 
          Wetenschappelijk onderzoek heeft aangetoond dat Psyfitter helpt tegen somberheid en angstige gevoelens. 
          Deze cursus kost €29,95 per jaar.
          Voor meer info over deze app kunt u klikken op de volgende link:
        </h4>
        <a class="linktext" href="https://www.psyfitter.nl/">Psyfitter</a>
        <br>
        <h3 class="subtitle">Energyplatform</h3>
        <br>
        <h4>Eneryplatform is een bedrijf, dat voor elke organisatie een passend vitaliteitsprogramma kan maken. 
          Er kan gekozen worden tussen meerdere pakketten, welke verschillen in hoeveel van het programma er wel of niet online gegeven wordt.
          Via de volgende link is meer informatie hierover te vinden:
        </h4>
        <a class="linktext" href="https://energyplatform.nl/">Energyplatform</a>
        <br>
        <h3 class="subtitle">ProudWoman</h3>
        <br>
        <h4>ProudWoman is een van de interventies ontwikkeld door Healthywoman. HealthyWoman is voor (werkende) vrouwen in alle levensfasen.
          HealthyWoman sluit contracten af met werkgevers en verzekeraars, zodat vrouwen kosteloos toegang krijgen tot ons levensfase-aanbod. 
          ProudWoman is speciaal voor vrouwen in de levensfase van de overgang die grip willen hebben en houden op de hormonale veranderingen 
          en de hieraan gerelateerde symptomen en klachten willen beperken of verminderen, en een nieuwe balans zoeken tussen werk en privé. 
          Werkgevers en verzekeraars kunnen zich aansluiten bij het HealthyWoman netwerk zonder abonnement- of aansluitkosten. 
          Via de volgende link kunt u meer vinden over HealthyWoman en de programma's, die zij aanbieden:
        </h4>
        <a class="linktext" href="https://healthywoman.nl/our-services/ ">HealthyWoman</a>
        <br>
        <h3 class="subtitle">VGZ Mindfulness coach app</h3>
        <br>
        <h4>Deze app probeert u met behulp van onder andere visualitsatie, yoga en ontspannende teksten mindfulness te leren. 
          Hierdoor kunt u mogelijke ontspannender door het leven te gaan. Deze app is gratis, dus kan kosteloos uitgeprobeerd worden via de volgende link:
        </h4>
        <a class="linktext" href="https://www.vgz.nl/mindfulness-coach-app">VGZ Mindfulness coach app</a>
        <br>
        <h3 class="subtitle">Fitstap</h3>
        <br>
        <h4>FitStap is het nieuwe beweegprogramma van de Koninklijke Wandel Bond Nederland (KWBN). Tijdens het programma van 12 weken krijg je begeleiding van 
          een gecertificeerde FitStap-coach. FitStap draait niet alleen om meer bewegen, want je gaat ook aan de slag met gezonde voeding en mental coaching. 
          De combinatie van een gezonde geest in een vitaal lichaam staat binnen FitStap centraal. De deelnameprijs van het FitStap-programma verschilt per coach. 
          Dat komt omdat iedere coach een eigen draai geeft aan het basisprogramma. Sommigen combineren het met ander sportaanbod of bieden extra faciliteiten. 
          Wat deelname aan FitStap bij jou in de buurt kost, vind je in het volgende locatieoverzicht:
        </h4>
        <a class="linktext" href="https://www.fitstap.nl/locaties/">Fitstap locaties</a>
        <h4>
          Als je doorklikt op de coach van jouw keuze, lees je meer over zijn/haar aanbod. 
          Zo kun je een programma uitzoeken dat precies bij jou past! Bij Fitstap is er de mogelijkheid om 1 gratis proefles te nemen via de volgende link:
        </h4>
        <a class="linktext" href="https://www.fitstap.nl/proefles/">Fitstap proefles</a>
        <br>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

<script>

$(function() {
  $('#topnav li a').click(function() {
     $('#topnav li').removeClass();
     $($(this).attr('href')).addClass('active');
  });
});

</script>