<!doctype html>

{% load static %}

{% include '../eHealth/Header.html' %}

<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Vitaliteit</title>
  </head>
  <body>
    <div class="container">
      <div>
          <br>
          <h1 class="title">Verbeteren van uw vitaliteit</h1>
          <br><br>
          <h4>Uw vitaliteit kan verbeteren door zowel uw eigen acties, als die van uw omgeving. Zelf kunt u uw vitaliteit verbeteren door uw energie, 
            motivatie en veerkracht te verbeteren.</h4>
            <br>
          <h4>Uw energie kunt u verbeteren op meerdere manieren:</h4>
          <ul>
            <li><h4>Minstens een half uur per dag bewegen (neem bijvoorbeeld de fiets naar uw werk in plaats van de auto of het openbaar vervoer)</h4></li>
            <li><h4>Een sport beoefenen (zowel fitness als teamsporten kan voor veel energie zorgen)</h4></li>
            <li><h4>Eet gezond (eet bijvoorbeeld niet alleen maar vet en suikerrijk eten, maar ook groente of fruit)</h4></li>
            <li><h4>Drink genoeg (tussen 1,5 tot 2 liter water per dag drinken is aanbevolen)</h4></li>
            <li><h4>Slaap voldoende (ongeveer tussen 6,5 en 9 uur slaap zorgt ervoor dat u niet vermoeid bent)</h4></li>
          </ul>
          <br>
          <h4>Uw motivatie is ook goed te verbeteren:</h4>
          <ul>
            <li><h4>Begin de dag met duidelijke doelen (wanneer u bijvoorbeeld een lijstje met duidelijk haalbare doelen voor de dag maakt, 
              is de kans groter dat u deze ook uitvoert)</h4></li>
            <li><h4>Beloon uzelf bij het behalen van deze doelen (Even ontspannen, iets leuks doen of iets lekkers eten na het behalen van een doel, 
              kan de kans vergroten dat u deze doelen behaalt)</h4></li>
            <li><h4>Behoud uw focus op een taak (vind een manier om uw focus op een taak te behouden en u merkt dat u de taak sneller en beter voltooid heeft, 
              bijvoorbeeld door muziek te luisteren)</h4></li>
            <li><h4>Neem pauzes (tijdelijke pauzes inplannen kunnen ervoor zorgen dat uw focus hoog blijft)</h4></li>
          </ul>
          <br>
          <h4>Als laatste kunt u uw geestelijke veerkracht kunt u ook op meerdere manieren verbeteren:</h4>
          <ul>
            <li><h4>Verdeel werk goed (zorg ervoor dat niet bepaalde mensen veel meer werk doen dan anderen)</h4></li>
            <li><h4>Verdeel uw eigen werk goed (zorg ervoor dat u uw werk geleidelijk over de dag verspreid en niet alles op het eind van de dag tegelijk gedaan moet worden) </h4></li>
            <li><h4>Communiceer goed met uw omgeving (hierdoor kunnen misverstanden en mogelijke stress door de miscommunicatie voorkomen worden) </h4></li>
            <li><h4>Houd minstens één rustmoment op uw dag (bijvoorbeeld ontspannen voor de tv zitten of wat lezen kan goed helpen) </h4></li>
            <li><h4>Praat met mensen over uw zorgen (uw hart luchten bij anderen kan ervoor zorgen dat uw stress niet ophoopt)</h4></li>
            <li><h4>Ga op zoek naar positief nieuws en positieve berichten (het meeste nieuws kan erg negatief zijn en een website of applicatie met leuk nieuws kan uw dag beter maken) </h4></li>
          </ul>
          <h4>De voor u beste manier om uw vitaliteit te verbeteren is echter anders dan die van anderen, dus u moet zelf uitvinden wat voor u het beste werkt.</h4>
          <br>
          <h4>Daarnaast is vitaliteit ook een verantwoordelijkheid van uw werkgever. Uw werkgever moet ervoor zorgen dat de zorgmedewerkers goed voor zichzelf kunnen zorgen, 
            dat de activiteiten aansluiten bij de behoeften en de werkomstandigheden de vitaliteit verbetert en niet verslechtert. 
            Het is natuurlijk belangrijk dat deze richtlijnen en strategieën worden omgezet in de praktijk. Het inzetten van goed onderbouwde, 
            bewezen of effectieve interventies kan hierbij helpen. 
            Het is dus aangeraden om bij uw organisatie te vragen wat deze voor opties hebben om uw vitaliteit te verbeteren.</h4>
            <br>
            <h4>Er zijn hiernaast nog vele applicaties voor op uw mobieltje en computer, die u kunnen helpen met het verbeteren van uw vitaliteit. 
              Deze zijn bereikbaar via het kopje eHealth apps onder het kopje vitaliteit en de volgende link:</h4>
              <a class="linktext" href="/vitaliteit/applicaties">Vitaliteits applicaties</a>
          <br><br>
          <h3 class="subtitle">Bronnen</h3>
            <br><br>
          <h5>Adriaansen, M. (2019). Vitaliteit. TVZ-Verpleegkunde in praktijk en wetenschap, 129(6), 27-28.</h5>
            <br>
          <h5>de Bel, S. (2015). Duurzaam vitaal.</h5>
            <br>
          <h5>van den Brink, H. (2017). Houding en vitaliteit verbeteren. PodoPost, 30(1), 19-21.</h5>
            <br>
          <h5>Van Vliet, K., & Bussman, M. (2019). Samen werken aan vitaliteit. Geraadpleegd van https://www.vitaledelta.nl/wp-content/uploads/2019/10/Samen-werken-aan-vitaliteit.pdf</h5> 
            <br>
          <h5>Van Vliet, J. (2017). Gezond in het werk. Good practices: als bedrijfsarts in Europa. Geraadpleegd op 7 oktober 2020, van https://link-springer-com.ezproxy.hro.nl/article/10.1007%2Fs12498-017-0508-3</h5>            
            <br>
          <h5>Kroon, B, Meyers, C. (Christina), & van Woerkom, M. (2019). Het verlagen van werkdruk door de inzet van positieve interventies. Geraadpleegd op 14 oktober 2020, van https://repub.eur.nl/pub/123016/</h5> 
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
